h1 {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 100px;
    justify-content: center;
    /* padding-bottom: -40px; */
    /*height: 100vh;*/
    height: 100px;

    -webkit-user-select: none; /*both for compatability*/
    user-select: none; /*both for compatability*/

}
ul {
    display: grid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: gray;
    justify-content: center;
    font-size: 30px;
    
    -webkit-user-select: none; /*both for compatability*/
    user-select: none; /*both for compatability*/
    transition-duration: 0.1s;
}

h1:hover {
    color:rgb(151, 0, 0);
}

ul:hover {
    font-size: 40px;
    transition-duration: 0.1s;
}