h1 {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 72px;
    justify-content: center;
    /* padding-bottom: -40px; */
    /*height: 100vh;*/
    height: 100px;

    -webkit-user-select: none; /*both for compatability*/
    user-select: none; /*both for compatability*/
    margin: none;
    padding-top: 50px;
}

h1:hover {
    color:rgb(151, 0, 0);
}

.header {
    background-color: rgb(53, 53, 53);
    padding-bottom: 20px; 
    margin-top: 50px;  
}

.main {
    background-color: rgb(228, 228, 228);
    padding-bottom: 100%;
    margin: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
